<%- include('../partials/header')%>
<div class="px-5 pb-5">
  <ul class="timeline timeline-vertical">
    <!-- button -->
    <li>
      <div class="timeline-start"></div>
      <div class="timeline-middle">
        <div class="timline-box">
          <button
            class="btn hover:bg-base-300 bg-base-100 text-white btn-small"
            onclick="my_modal_1.showModal()"
          >
            Add Blog
          </button>
        </div>
      </div>
      <hr class="pb-5" />
    </li>
    <% blogs.forEach((blog,i)=>{ %> <% if(i%2===0){ %>
    <li>
      <hr />
      <div class="timeline-start timeline-box">
        <div class="text-xl font-bold"><%= blog.title %></div>
        <div class="max-w-[160px] my-2">
          <img
            src="https://media.licdn.com/dms/image/D5612AQFVfcC3YIys9g/article-cover_image-shrink_600_2000/0/1710410239304?e=2147483647&v=beta&t=1rLEIDhxpnx4xQ3pzTvZrxV5FrfzZIixUoPcCFEDVvc"
            alt=""
          />
        </div>
        <p class="text-sm text-gray-300 line-clamp-2 md:line-clamp-none"><%= blog.description %></p>
        <time class="font-mono italic text-gray-400 text-sm"><%= moment(blog.createdAt).format('D/M/y hh:mm A') %></time>
      </div>
      <div class="timeline-middle">
        <div class="w-4 h-4 bg-white rounded-full"></div>
      </div>
      <div class="timeline-end italic"><%= blog.username %></div>
     <hr />
    </li>
    <% }else{ %>
    <li>
      <hr />
      <div class="timeline-start italic"><%= blog.username %></div>
      <div class="timeline-middle">
        <div class="w-4 h-4 bg-white rounded-full"></div>
      </div>
      <div class="timeline-end timeline-box">
        <div class="text-xl font-bold"><%= blog.title %></div>
        <div class="w-[160px] my-2">
          <img
            src="https://media.licdn.com/dms/image/D5612AQFVfcC3YIys9g/article-cover_image-shrink_600_2000/0/1710410239304?e=2147483647&v=beta&t=1rLEIDhxpnx4xQ3pzTvZrxV5FrfzZIixUoPcCFEDVvc"
            alt=""
          />
        </div>
        <p class="text-sm text-gray-300"><%= blog.description %></p>
        <time class="font-mono italic text-gray-400 text-sm"><%= moment(blog.createdAt).format('D/M/y hh:mm A') %></time>
      </div>
      <hr />
    </li>
    <% } %> <% }) %>
  </ul>
</div>
<%- include('../partials/modal')%> <%- include('../partials/footer')%>
